*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #2b2a30;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("https://www.pngkey.com/png/full/27-270243_ceiling.png");
}
.swiper-container {
  width: 500px;
}

@media (max-width: 650px ){
  
  .swiper-container {
    width: 300px;
  }
}

.swiper-pagination {
  bottom: 0;
  padding-bottom: 10px;
}

.swiper-wrapper {
  padding-inline-start: 0;
}

a {
  color: inherit;
  text-decoration: none;
}
