*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #2b2a30;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("https://www.pngkey.com/png/full/27-270243_ceiling.png");
}
.swiper-container {
  width: 500px !important;
  height: 450px;
  border-radius: 20px;
  margin-top: 50px;
}

.swiper-button-prev {
  left: 0 !important;
  z-index: 1000 !important;
}
.swiper-button-next {
  right: 0 !important;
  z-index: 1000 !important;
}

.swiper-button-prev:after,
.swiper-button-next:after {
  position: absolute;
  bottom: -200px !important;
  font-size: 20px !important;
  width: 10px !important;
  z-index: 1000 !important;
  color: #2b2a30;
}

@media (max-width: 750px) {
  .swiper-container {
    width: 350px !important;
    height: 470px;
  }
}

@media (max-width: 550px) {
  .swiper-container {
    width: 280px !important;
    height: 500px;
    bottom:-10px;
  }
}

@media (max-width: 450px) {
  .swiper-container {
    width: 280px !important;
    height: 500px;
  }
}

.swiper-pagination {
  bottom: 0 !important;
  /* padding-bottom: 10px; */
  z-index: 2 !important;
}

.swiper-pagination-bullet-active {
  background: #2b2a30 !important;
}

.swiper-wrapper {
  padding-inline-start: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

.MuiLinearProgress-barColorSecondary {
  background-color: #b1afb0 !important;
}

.MuiLinearProgress-colorSecondary {
  background-color: rgb(31, 30, 30) !important;
}

@keyframes letter {
  0% {
    transform: rotate(0deg) scale(1);
  }
  50% {
    transform: rotate(45deg) scale(1.5);
  }
  75% {
    transform: rotate(0deg) scale(1.5);
  }
  90% {
    transform: rotate(-45deg) scale(1);
  }
  100% {
    transform: rotate(0deg) scale(1);
  }
}
