*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #2b2a30;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("https://www.pngkey.com/png/full/27-270243_ceiling.png");
}
.swiper-container {
  width: 500px;
}

@media (max-width: 750px) {
  .swiper-container {
    width: 300px !important;
  }
}

@media (max-width: 450px) {
  .swiper-container {
    width: 200px !important;
  }
}

.swiper-pagination {
  bottom: 0;
  padding-bottom: 10px;
}

.swiper-wrapper {
  padding-inline-start: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

.MuiLinearProgress-barColorSecondary {
  background-color: #b1afb0 !important;
}

.MuiLinearProgress-colorSecondary {
  background-color: rgb(31, 30, 30) !important;
}

@keyframes letter {
  0% {
    transform: rotate(0deg) scale(1);
  }
  50% {
    transform: rotate(45deg) scale(1.5);
  }
  75% {
    transform: rotate(0deg) scale(1.5);
  }
  90% {
    transform: rotate(-45deg) scale(1);
  }
  100% {
    transform: rotate(0deg) scale(1);
  }
}
